<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles/main.css" />
  <title>Music App</title>
</head>

<body>
  <nav>
    <h1>Music App</h1>
    <section>
      <h2>Library</h2>
      <ul>
        <li><a href="">Songs</a></li>
        <li><a href="">Albums</a></li>
        <li><a href="">Artists</a></li>
      </ul>
    </section>
    <section>
      <h2>Playlists</h2>
      <ul>
        <li><a href="">Favorite Songs</a></li>
        <li><a href="">Create Playlist +</a></li>
      </ul>
    </section>
  </nav>
  <main>
    <header>
      <input type="text" placeholder="What do you want to listen to?" />
      <button><img src="images/search-icon.*" alt="Search icon" /></button>
      <button>
        <img src="images/settings-icon.*" alt="Settings icon" />
      </button>
      <button>
        <img src="images/profile-headshot.*" alt="Profile headshot" />
      </button>
    </header>
    <div>
      <section>
        <header>
          <h3>Songs</h3>
          <p>Sorted by: Recently played</p>
        </header>
        <div>
          <!-- Embed JS here -->
        </div>
      </section>
      <section>
        <h2>Now Playing</h2>
        <img src="images/..." alt=""> <!-- Embed JS here -->
        <div>
          <div>
            <!-- Embed JS here -->
          </div>
          <button><img src="images/queue-icon" alt="Queue icon"></button>
        </div>
        <hr>
        <div class="queue">
          <!-- Embed JS here -->
        </div>
      </section>
    </div>
  </main>
</body>

</html>